<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Spring MVC Blog</title>

    <link th:href="@{/assets/css/bootstrap.css}" href="../../../assets/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/assets/css/style.css}" href="../../../assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}" href="./../welcome.html">Spring MVC App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}" href="./../welcome.html">Home</a></li>
                    <li class="active"><a th:href="@{/posts}" href="./list.html" th:text="#{menu.blog}">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-6">
            <h1>Create post</h1>
            <form th:action="@{/posts/create}" th:object="${post}" method="post">
                <div class="alert alert-danger">
                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label  th:for="${#ids.next('title')}">Title</label>
                    <input type="text" class="form-control" placeholder="Enter title" th:field="*{title}" />
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</p>
                </div>
                <div class="form-group">
                    <label  th:for="${#ids.next('title')}">Text</label>
                    <textarea class="form-control" placeholder="Enter text" th:field="*{text}"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <script th:src="@{/assets/js/bootstrap.js}" src="../../../assets/js/bootstrap.js"></script>
</body>
</html>
